extends baseEmail

block content
  p Hi #{firstName},
  p Forgot your password? Submit a PATCH request with your new password and passwordConfirm to: #{url}.
  p (Website for this action not yet implemented.)
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td.bg-blue(style='background-color: #3498db; border-radius: 5px; padding: 15px; font-size: 20px; font-weight: bold; color: white; text-align: center;')
                  | #{resetToken.split('').join('-')}

  p If you didn't forget your password, please ignore this email!

  p If you encounter any issues with your password reset, please contact our support team.

  p(style='margin-top: 20px;')
    | Thanks,
    br
    | The Team at Your Company