name: Deploy to Server

on:
  push:
    branches:
      - main  # Change this to your deployment branch if different

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Set up SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_UNI_AWS }}" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          ssh-keyscan -H 52.56.252.188 >> ~/.ssh/known_hosts

      - name: Deploy to Server
        run: |
          ssh root@52.56.252.188 << 'EOF'
          cd event-planning 
          git stash
          git pull origin main
          npm install   
          pm2 restart all
          exit
          EOF
